@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #faf9f6;
  --color-secondary: #c8c5c1;
  --color-tertiary: #514a41;
  --color-tertiary-hover: #6a6155;
  --font-old-standard: var(--font-old-standard);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-primary);
  font-family: var(--font-poppins), sans-serif;
}

/* 1. Mencegah bentrok antara scroll bawaan browser dan Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  /* Mematikan 'smooth' bawaan CSS supaya Lenis yang pegang kendali penuh */
  scroll-behavior: auto !important;
}

/* 2. Menjaga agar elemen tetap sinkron saat scrolling */
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

/* 3. Menghindari glitch saat scroll sedang berhenti */
.lenis.lenis-stopped {
  overflow: hidden;
}

/* 4. Opsional: Agar perpindahan ke ID (Anchor Link) tidak terlalu mepet ke atas */
html {
  /* Ganti 100px dengan tinggi Navbarmu agar judul section tidak tertutup Navbar */
  scroll-padding-top: 100px;
}

html {
  scroll-behavior: smooth;
}

/* Biar gak ketutup Navbar pas nyampe di section-nya */
section {
  scroll-margin-top: 100px;
}
